<div class="container-lg w-50 ">
    <h1 class="text-center">Update Employee</h1>
    <hr>
    <form (submit)="onSubmit()" [formGroup]="employeeForm">
        <div class="mb-3">
            <label for="first-name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Sakib" name="first-name"
                formControlName="firstName">
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class=" mb-3">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Malik" name="last-name"
                formControlName="lastName">
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" placeholder="25" name="age" formControlName="age">
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address"
                placeholder="He 211, Radha Vihar, Mohali, Punjab, India" name="address" formControlName="address">
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">Update</button>
    </form>
</div>